* {
  box-sizing: border-box;
}

@font-face {
  font-family: "LEAFY";
  font-style: normal;
  font-weight: normal;
  src: local("LEAFY"), url("leafy.woff") format("woff");
}

:root {
  --menu-hover-color: #027596;
  --menu-links-color: rgb(226, 224, 224);

  --gallery-background-color: #b6faff;
}

h1,h2,h3,h4 {
  font-family: "LEAFY";
}

body {
  margin: 0;
  display: grid;
  justify-items: center;
  font-family: monospace, sans-serif;
  color: rgb(219, 217, 217);
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #000a38,
    #1cb5e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #000a38,
    #1cb5e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero {
  position: relative;
  height: 100vh;

  display: grid;
  place-items: center center;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.4rem;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.hero-content {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.hero-content .learn-more {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
}

.hero-content .learn-more a {
  text-decoration: none;
  color: var(--menu-links-color);
}

main {
  max-width: 50rem;
  margin: 0 0rem;
}

main h2, h3, h4 {
  text-align: center;
}

.overview {
  padding: 0 1rem;
}
.overview h2 {
  font-size: 2rem;
}

.gallery-item {
  margin:  0;
}
.gallery-item img {
  width: 100%;
}
.gallery-item h3, h4 {
  font-size: 2rem;
}

.gallery-content {
  padding: 0 1rem;
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tools img {
  width: 2.5rem;
  height: 2.8rem;
 }

.tools li {
  text-align: center;
}


#booktropolis {
  background: linear-gradient(to right, #83A5D4, #b6faff);
  color: rgb(22, 22, 22);
}

#movie-manager {
  background-color: #0b1413;
  color: #dcd6ce;
}