@media (min-width: 600px) {
  .menu {
    width: 25rem;
  }

  .gallery-item {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .tools {
    grid-template-columns: repeat(auto-fit, minmax(4.5rem,1fr));
  }
}