@media (min-width: 600px) {
  .menu {
    width: 25rem;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .about {
    margin-top: 4rem;
    display: flex;
  }

  .about h2 {
    text-align: left;
  }

  .about .container {
    width: 50%;
    padding-right: 2.5rem;
    text-align: left;
  }

  .about .skills {
    width: 48%;
    margin-top: 0;
    padding-left: 2.5rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .gallery-item {
    transition: all 0.3s cubic-bezier(0.25, 0.4, 0.67, 1.9);
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0, .4));
    margin-bottom: 3rem;
  }

  .gallery-item:hover {
    transform: scale(1.02);
    filter: brightness(110%);
  }

  #zombie-attack .item picture img {
    object-position: center;
  }
  

  .tools {
    grid-template-columns: repeat(auto-fit, minmax(4.5rem,1fr));
  }

  footer {
    font-size: 1rem;
  }

  footer .copyright-container {
    font-size: .8rem;
  }
}