* {
  box-sizing: border-box;
}

@font-face {
  font-family: "LEAFY";
  font-style: normal;
  font-weight: normal;
  src: local("LEAFY"), url("leafy.woff") format("woff");
}

:root {
  --menu-hover-color: #027596;
  --menu-links-color: white;

  --gallery-background-color: #b6faff;
}

h1 {
  font-family: "LEAFY";
}

h2,
h3,
h4 {
  font-family: "Open Sans Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: grid;
  justify-items: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #000a38,
    #1cb5e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #000a38,
    #1cb5e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*** MENU ***/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.3rem;
  z-index: 2;
  transition: background-color 0.5s ease;
}

nav > .hamburger {
  position: fixed;
  top: 0.5rem;
  right: 2.5rem;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

nav .links {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .links i {
  font-size: 2.1rem;
  margin-left: 1rem;
  color: white;
  /* filter: invert(1); */
}

nav .links i:hover {
  color: rgb(223, 71, 51);
}



.nav-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background: rgb(0, 0, 0);
  margin-top: 0;
  padding: 5rem 0;
  transition: margin 0.8s ease-in-out;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu-hide {
  margin-right: -100vw;
}

.menu li {
  padding: 0.7rem;
  cursor: pointer;
}

/*** PROJECTS ACCORDION ***/
.menu .accordion {
  list-style: none;
  padding-left: 1rem;
  /* margin-top: -100%;
  margin-left: 100%; */
  overflow-y: hidden;
  /* opacity: 0; */
  /* transition: margin-top 1s ease; */
  max-height: 0;
  transition: max-height 0.75s ease-in-out;
}

.menu .accordion li {
  padding: .5rem;
}

.menu .accordion li:first-child {
  margin-top: 0.5rem;
}


.menu .accordion.show {
  display: block;
  opacity: 1;
  /* margin-top: 0;
  margin-left: 0; */
  max-height: 400px;
  transition: max-height 1s ease-out;
  /* animation: slide-down 1s ease; */
}

@keyframes slide-down {
  0% {
    opacity: 0;
    margin-top: -100%;
  }
  65% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    margin-top: 0;
    transform: rotateY(0deg);
  }
}

.menu .projects > span {
  margin-right: 0.5rem;
}
.menu .projects.open {
  color: #1cb5e0;
}

.menu .projects.open + .accordion {
  display: block;
}

.menu .projects i.fa-chevron-down {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu .projects.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*** HERO ***/
.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center center;
}

.hero .hero-background {
  height: 100%;
  width: 100%;
  background-image: url("../images/berg.jpg");
  background-attachment: fixed;
  background-position: 50% 10%;
  background-size: cover;
  opacity: 0.8;
}
.hero h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  opacity: 1;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
}

.hero-content {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.hero-content .learn-more {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.hero-content .learn-more a {
  text-decoration: none;
  color: var(--menu-links-color);
}
.hero-content .learn-more h3 {
  margin: 0.5rem 0;
}

/*** MAIN ***/
main {
  max-width: 70rem;
}

main h2,
h3,
h4 {
  text-align: center;
}

/*** ABOUT ***/
.about {
  margin-top: 3rem;
  padding: 0 1rem;
  text-align: center;
  line-height: 1.4rem;
}
.about h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.skills {
  color: white;
  font-weight: bold;
  margin-top: 3rem;
  line-height: 2rem;
}

.skills div {
  text-align: left;
  border-bottom: 2px solid white;
  margin: 0.5rem 0;
}

/*** GALLERY **/
.gallery {
  padding: 0 1rem;
  margin: 5rem 0;
}

.gallery > h2 {
  margin: 2rem 0 1rem;
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-gap: 2rem;
  /* display: flex;
  flex-direction: column; */
}

.gallery-item {
  overflow: hidden;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.507));
}

.gallery-item .band {
  display: flex;
  height: 100%;
  width: 200%;
  transition: transform 1s ease-in-out;
  perspective: 1000px;
  cursor: pointer;
}

.gallery-item .item picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  border-radius: .3rem;
}

.gallery-item .item {
  width: 100%;
  position: relative;
}

.gallery-item .item-1 {
  transform: translateZ(0);
  transition: transform 1s ease-in-out;
  transform-origin: right center;
}

.gallery-item .band.hide-animation {
  transform: translateX(-50%);
}

.gallery-item .band.hide-animation .item-1 {
  transform: scale(0.3) rotateY(-90deg);
}

.gallery-item .item-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-radius: .3rem;
}
/* 
.gallery-item .item-2 i {
  font-size: 1.8rem;
  color: black;
  margin: 0 .3rem
} */

.gallery-item .project-info {
  padding: 1rem;
}

.gallery-item .project-info header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-item .project-info header .icons i {
  font-size: 1.5rem;
  margin: 0 .2rem;
  color: black;
}

.gallery-item .project-info header .icons i:hover {
  color: rgb(223, 71, 51);
}

.gallery-item .project-info header h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.gallery-item .project-info header + p {
  margin-top: 0;
}

.gallery-item .tools-container .tools-header {
  margin-bottom: .8rem;
}

.gallery-item .tools {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  font-size: 0.7rem;
  font-weight: bold;
}

.gallery-item .tools img {
  width: 1.8rem;
  margin: 0 1rem;
}

.gallery-item .tools li {
  text-align: center;
}

/*** Custom colors for gallery items ***/
#booktropolis .item-2 {
  background: linear-gradient(#B0F0FA, #85A7D5);
  color: rgb(22, 22, 22);
}

#movie-manager .item-2 {
  background-color: rgb(24, 24, 24);
  color: rgb(238, 237, 237);
}

#movie-manager .item-2 header .icons i {
  color: rgb(238, 237, 237);
}

#zombie-attack .item-2 {
  background-color: rgb(7, 7, 7);
  color: rgb(238, 237, 237);
}

#zombie-attack .item-2 header .icons i {
  color: rgb(238, 237, 237);
}

#zombie-attack .item-2 header .icons i:hover {
  color: rgb(223, 71, 51);
}

/*** FOOTER ***/
footer {
  height: 50vh;
  width: 100%;
  /* opacity: 0.3; */
  background-color: rgba(0, 0, 0, 0.3);
}

/* Underline effect */
.underline-effect {
  position: relative;
}

.underline-effect::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline-effect:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
